.markdown-body table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.markdown-body th,
.markdown-body td {
    border: 1px solid #979797;
    padding: 8px;
    text-align: left;
}

.markdown-body th {
    background-color: transparent;
    font-weight: bold;
}

.markdown-body tr:nth-child(even) {
    background-color: transparent;
}