.loader {
    width: 8px;
    height: 8px;
    position: fixed;
    top: 50%;
    border-radius: 50%;
    background: rgba(242, 106, 38, 1);
    animation: wave 1s ease-in infinite;
}

@keyframes wave {
    0% {
        box-shadow:
            0 0 0 0px rgba(242, 106, 38, 1),
            0 0 0 20px rgba(189, 99, 54, 0.8),
            0 0 0 40px rgba(163, 98, 66, 0.6),
            0 0 0 60px rgba(139, 102, 84, 0.4),
            0 0 0 80px rgba(131, 114, 106, 0.2);
    }

    100% {
        box-shadow:
            0 0 0 80px rgba(131, 114, 106, 0.2),
            0 0 0 60px rgba(139, 102, 84, 0.4),
            0 0 0 40px rgba(163, 98, 66, 0.6),
            0 0 0 20px rgba(189, 99, 54, 0.8),
            0 0 0 0px rgba(242, 106, 38, 1);
    }
}